/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1;
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BACKGROUND */
body {
    width: 100%;
    height: 2400px;
	background-color: #F99066;
	background-image: url("images/pixellogo.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* IMPORT FONT MANAGEMENT */

@font-face {
    font-family: 'Messapia_Reg';
	src:    url('fonts/messapia/Messapia-Regular.woff') format('woff'),
            url('fonts/messapia/Messapia-Regular.woff2') format('woff2'),
            url('fonts/messapia/Messapia-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Messapia_Bold';
	src:    url('fonts/messapia/Messapia-Bold.woff') format('woff'),
            url('fonts/messapia/Messapia-Bold.woff2') format('woff2'),
            url('fonts/messapia/Messapia-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* FONTS sizes and such */

h1 {

}

p {

}

/* marquee */

.marquee {
    position: fixed;
    bottom: 0;
	width: 100%;
	overflow: hidden;
	padding:20px;
}

.marquee span {
	position:relative;
	padding: 0 40px 0 0;
	overflow:visible;
	white-space:nowrap;
    font-family: 'Messapia_Bold';
    color: #CD5C5C;
    font-size: 40px;
    letter-spacing:;
    word-spacing: 8px;
}

/*this is the  class that hovers on top of everything*/
.draggable {
    min-width: 50px;
    width: 330px;
    min-height: 50px;
    height: 300px;
    position: fixed;
}

/* seperate position handlers for each div*/

#g_img {
    position: absolute;
    top: 160px;
    left: 100px;
}

#d_img {
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 10;
}

#gg_img {
    position: absolute;
    bottom: 50px;
    left: 10px;
}

#s_img {
    position: absolute;
    top: 489px;
    right: 10px;
}

#f_img {
    position: absolute;
    top: 1150px;
    left: 40px;
}

#z_img {
    position: absolute;
    top: 600px;
    left: 283px;
}

#sh_img {
    position: absolute;
    top: 942px;
    left: 500px;
}

#shh_img {
    position: absolute;
    top: 1544px;
    right: 283px;
}

#fg_img {
    position: absolute;
    top: 1784px;
    left: 66px;
}

#s19_img {
    position: absolute;
    top: 1284px;
    left: 233px;
}

.top{
    font-family: sans-serif;
    font-size:2vw;
    color:red;
    font-weight:300;
    line-height:100%;
}

.drag_img{
    height: 100%;
    width: 100%;
}

h1{
  font-family:sans-serif;
  font-weight:500;

}

/*this is the skewed box*/

#skew {
    position: absolute;
    margin: auto;
    padding:10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 30%;
    background-color:#FF4500;
    color:white;
    overflow:scroll;
    z-index: 999;

    -moz-transform: rotate(43deg) translate(-6px, 0px) skew(31deg, -13deg);
  -webkit-transform: rotate(43deg) translate(-6px, 0px) skew(31deg, -13deg);
  -o-transform: rotate(43deg) translate(-6px, 0px) skew(31deg, -13deg);
  -ms-transform: rotate(43deg) translate(-6px, 0px) skew(31deg, -13deg);
  transform: rotate(43deg) translate(-6px, 0px) skew(31deg, -13deg);
}

#skew2 {
    position: absolute;
    margin: auto;
    padding:10px;
    top: 750px;
    left: 200px;
    width: 20%;
    height: 30%;
    background-color:#4B0082;
    color:white;
    overflow:scroll;
    z-index: 999;

  -moz-transform: rotate(27deg) translate(-6px, 6px) skew(-17deg, 172deg);
  -webkit-transform: rotate(27deg) translate(-6px, 6px) skew(-17deg, 172deg);
  -o-transform: rotate(27deg) translate(-6px, 6px) skew(-17deg, 172deg);
  -ms-transform: rotate(27deg) translate(-6px, 6px) skew(-17deg, 172deg);
  transform: rotate(27deg) translate(-6px, 6px) skew(-17deg, 172deg);
}

#skew3 {
    position: absolute;
    margin: auto;
    padding:10px;
    top: 1300px;
    right: 200px;
    width: 20%;
    height: 30%;
    background-color:#00FF7F;
    color:black;
    overflow:scroll;
    z-index: 999;

    -moz-transform: rotate(-12deg) translate(-6px, 0px) skew(189deg, -13deg);
  -webkit-transform: rotate(-12deg) translate(-6px, 0px) skew(189deg, -13deg);
  -o-transform: rotate(-12deg) translate(-6px, 0px) skew(189deg, -13deg);
  -ms-transform: rotate(-12deg) translate(-6px, 0px) skew(189deg, -13deg);
  transform: rotate(-12deg) translate(-6px, 0px) skew(189deg, -13deg);
}

#skew4 {
    position: absolute;
    margin: auto;
    padding:10px;
    top: 2000px;
    left: 400px;
    width: 20%;
    height: 30%;
    background-color:#FFEFD5;
    color:black;
    overflow:scroll;
    z-index: 999;

    -moz-transform: rotate(-20deg) translate(-6px, 0px) skew(31deg, -13deg);
  -webkit-transform: rotate(-20deg) translate(-6px, 0px) skew(31deg, -13deg);
  -o-transform: rotate(-20deg) translate(-6px, 0px) skew(31deg, -13deg);
  -ms-transform: rotate(-20deg) translate(-6px, 0px) skew(31deg, -13deg);
  transform: rotate(-20deg) translate(-6px, 0px) skew(31deg, -13deg);
}

/* ~ show more trickery ~ */

#about {
    position: relative;
    padding-top:12px;
    padding-left:34px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Art Basics';
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: #0000FF;
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Click to close.';
}

.read-more-trigger {

  cursor: pointer;
  display: inline-block;
  /*padding: 0 .5em;*/
  /*color: #666;*/
	color: #c03000;
	font: 14px Tahoma, Verdana, Arial, san-serif;
  font-size: /*.9em*/ 14px;
  line-height: 2;
  /*border: 1px solid #ddd;*/
  /*border-radius: .25em;*/
}

.read-more-trigger:hover {
	color: #FFFFFF;
	background-color: #0000FF;
}

.read-more-wrap {
      max-width: 450px;
      padding: 20px 0px 20px 0px;
      color: #0000FF;
      z-index: 800;
}

/* |||here is some fake scroll stuff||| */

/*
.foo{ position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; min-height:70%; height:1px; width:500px; overflow:auto; background:white; }
.foo.fakeScroll__scope{ background:none; }
.foo .fakeScroll__content{ padding-top:1em; padding-bottom:1em; }
.foo .fakeScroll__wrap{ background:#FFF; border-radius:4px; -moz-box-sizing:border-box; box-sizing:border-box; }

/* upper and bottom fades */
/*
.fakeScroll__wrap::before{ content:''; position:absolute; z-index:1; top:0; left:0; right:0; height:5%;
    background: -webkit-linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
}

.fakeScroll__wrap::after{ content:''; position:absolute; z-index:1; bottom:0; left:0; right:0; height:5%;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
    background: linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
}
*/
